.tab {margin:40px}
#page-wrap { width: 800px; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
h2 {font-family: palatino linotype; font-size: 15px}
